body{
    margin: 0;
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{ font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{ font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container{
    background-color: #F5E8E4;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.profile-img{
    margin: 30px auto 30px auto;
}


a{
    color: #11999E;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.data-img{
    width: 25%;
    margin-right: 30px;
    float: left;

}

.report-img{
    width: 25%;
    margin-left: 30px;
    float: right;
}

.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.intro{
    width: 30%;
    margin: auto;
}

p{
    line-height: 2;
}

hr{
    border: dotted #678983 10px;
    width: 4%;
    border-bottom: none;
    margin: 100px auto;
}

.btn {
    background: #2dd684;
    background-image: -webkit-linear-gradient(top, #2dd684, #2a5b7a);
    background-image: -moz-linear-gradient(top, #2dd684, #2a5b7a);
    background-image: -ms-linear-gradient(top, #2dd684, #2a5b7a);
    background-image: -o-linear-gradient(top, #2dd684, #2a5b7a);
    background-image: linear-gradient(to bottom, #2dd684, #2a5b7a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #44f5e6;
    background-image: -webkit-linear-gradient(top, #44f5e6, #1c8c8a);
    background-image: -moz-linear-gradient(top, #44f5e6, #1c8c8a);
    background-image: -ms-linear-gradient(top, #44f5e6, #1c8c8a);
    background-image: -o-linear-gradient(top, #44f5e6, #1c8c8a);
    background-image: linear-gradient(to bottom, #44f5e6, #1c8c8a);
    text-decoration: none;
  }

  .exp{
    margin-bottom: 60px;
  }

  #profile-img{
    border-radius: 50%;
    width: 20%;
  }

  .fb{
    margin: auto;
    width: 3%;
  }

  .twitter{
    position: absolute;
    left: 650px;
    width: 3%;
  }

  .insta{
    position: absolute;
    right: 650px;
    width: 3%;
  }

  .footer{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-size: 0.75rem;
    color: #FFFBEB;
  }

  .fb:hover{
    background-color: white;
  }

  .insta:hover{
    background-color: white;
  }

  .twitter:hover{
    background-color: white;
  }